<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Prueba de hipótesis</a>
  </div>
</nav>
<div class="p-3">
  <div class="row mb-5">
    <div class="col-sm-8">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">Formulario de datos</h5>
          <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="nombre">Nombre del problema</label>
              <input type="text" id="nombre" formControlName="nombre" class="form-control" />
            </div>

            <div class="row">
              <div class="form-group col-sm-3">
                <label for="tamanioMuestra">n</label>
                <input type="number" id="tamanioMuestra" formControlName="tamanioMuestra" class="form-control" />
              </div>

              <div class="form-group col-sm-3">
                <label for="significacion">α</label>
                <input type="number" id="significacion" formControlName="significacion" class="form-control" />
              </div>
              
              <div class="form-group col-sm-3">
                <label for="tipoDesviacionEstandar">Desviación estándar</label>
                <select id="tipoDesviacionEstandar" class="form-select" formControlName="tipoDesviacionEstandar" aria-label="Default select example">
                  <option value="1">Muestral</option>
                  <option value="2">Poblacional</option>
                </select>
              </div>

              <div class="form-group col-sm-3">
                <label for="desviacionEstandar">σ</label>
                <input type="number" id="desviacionEstandar" formControlName="desviacionEstandar" class="form-control" />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-4">
                <label for="mediaMuestral">x</label>
                <input type="number" id="mediaMuestral" formControlName="mediaMuestral" class="form-control" />
              </div>
              <div class="form-group col-sm-4">
                <label for="restriccion">Restricción</label>
                <select id="restriccion" class="form-select" formControlName="restriccion" aria-label="Default select example">
                  <option value="1"><</option>
                  <option value="2">></option>
                </select>
              </div>
              <div class="form-group col-sm-4">
                <label for="parametroDeInteres">μ</label>
                <input type="number" id="parametroDeInteres" formControlName="parametroDeInteres" class="form-control" />
              </div>
            </div>
            <div class="d-flex justify-content-center m-3">
              <button type="submit" class="btn btn-warning" [disabled]="formulario.invalid">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card m-3 problem-card">
        <div class="card-body">
          <h5 class="card-title">Historial</h5>
          <div class="card mb-2" *ngFor="let problem of history; let i = index">
            <div class="card-body" (click)="loadData(i)">
              <div class="d-flex justify-content-between align-items-center">
                <p class="m-0">{{problem['nombre']}}</p>
                <span class="material-symbols-outlined" (click)="deleteItem(i)">
                  delete
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-3" *ngIf="problemSelected">
    <div class="col-sm-3 mb-4">
      <div class="card step-card">
        <div class="card-body">
            <h5 class="card-title custom-title">Paso 1</h5>
            <p>Parámetro de interés μ</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card step-card">
        <div class="card-body">
            <h5 class="card-title custom-title">Paso 2</h5>
            <p>H0; μ = {{problemSelected['parametroDeInteres']}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card step-card">
        <div class="card-body">
            <h5 class="card-title custom-title">Paso 3</h5>
            <p>H1; μ {{problemSelected['restriccion'] == 1 ? '<' : '>'}} {{problemSelected['parametroDeInteres']}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card step-card">
        <div class="card-body">
            <h5 class="card-title custom-title">Paso 4</h5>
            <p>α = {{problemSelected['significacion']}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card step-card">
        <div class="card-body">
            <h5 class="card-title custom-title">Paso 5</h5>
            <div class="image-container">
              <img src="https://res.cloudinary.com/deptrswzd/image/upload/v1748324803/rxkbjzzatxkxijze4ebn.jpg" alt="formula">
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card step-card">
        <div class="card-body">
            <h5 class="card-title custom-title">Paso 6</h5>
            <p>Se rechaza H0 si Zo {{problemSelected['restriccion'] == 1 ? '>' : '<'}} {{problemSelected['z0'] | number : '1.2-2'}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card step-card">
        <div class="card-body">
            <h5 class="card-title custom-title">Paso 7</h5>
            <p>{{validarRechazoAceptacion()}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
      <div class="card step-card">
        <div class="card-body">
            <h5 class="card-title custom-title">Paso 8</h5>
            <p>{{conclusionRechazoAceptacion()}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <plotly-plot [data]="graphData" [layout]="layout"></plotly-plot>
    </div>
  </div>
</div>
